*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color: #530c27;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
nav .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}
.banner {
    height: 100vh;
    background: linear-gradient( rgba(0,0,0,0.281), rgba(0,0,0,0.308)),url('img/progr1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
body{
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: 40;
    font-family: Verdana;
}
h2 style{
    color:#fff
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 45px;
    font-weight: 40;
    font-family: Verdana;
}